# Master API Key (Super Admin override key)
API_KEY=master_secret_token_12345

# MongoDB Connection URL (Required for dynamic API keys and statistics)
MONGO_URL=mongodb+srv://vishalpandeynkp:Bal6Y6FZeQeoAoqV@cluster0.dzgwt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=vishalpandeynkp

# Telegram Bot Token from @BotFather (Required to enable key generation via Telegram)
BOT_TOKEN=8950012340:AAE752hl5D_zkU9ZwvHX_CjEhc7-yrMB7Rg
OWNER_ID=8904209566

# Your public Railway domain (Shown to users when they generate a key)
PUBLIC_URL=https://your-app-name.up.railway.app

# URL to automatically fetch fresh cookies on startup (e.g. from batbin.me/raw/<id>)
COOKIES_URL=https://batbin.me/raw/deejay

# Port (Railway automatically injects $PORT)
PORT=8000
